.positionwarning {
	width: 346px;
	height: 340px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	float: left;
	margin-left: 39px;
	.positionTopwaring {
		width: 346px;
		height: 40px;
		box-shadow: 0px 1px 0px 0px rgba(240, 240, 240, 1);
		border-radius: 2px 2px 0px 0px;
		p {
			margin-left: 16px;
			margin-top: 11px;
			width: 98px;
			height: 18px;
			font-size: 14px;
			font-weight: 400;
			color: rgba(10, 31, 68, 1);
			line-height: 18px;
		}
	}
	ul {
		padding: 0px;
		li {
			list-style: none;
			line-height: 76px;
			color: #2EB872;
			margin: 16px;
			width: 314px;
			height: 76px;
			box-shadow: 0px 1px 0px 0px rgba(240, 240, 240, 1);
			&:last-child {box-shadow: 0px 0px 0px 0px rgba(240, 240, 240, 1);}
			}
			.positionwarningText {
				width: 256px;
				height: 61px;
				position: relative;
				p {
					width: 255px;
					height: 40px;
					font-size: 13px;
					font-weight: 400;
					color: rgba(78, 93, 120, 1);
					line-height: 20px;
				}
				.time-btn {
					width: 50px;
					height: 16px;
					font-size: 12px;
					font-weight: 400;
					color: rgba(176, 183, 195, 1);
					line-height: 16px;
					position: absolute;
					top: 40px;
					left: 0px;
				}
			}
		}
	}

