.login-form {
  max-width: 350px;
  height: 427px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.login-logo {
	width: 350px;
	height: 59px;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 40px;
	margin-top: 40px;
}
.login-logo  svg{
	width: 100%!important;
	height: 100%!important;
}