.al-layout .al-header {
	width:1440px;
	height:56px;
	background:rgba(255,255,255,1);
	box-shadow:0px 1px 0px 0px rgba(224,224,224,1);
}

.al-layout  .al-left {
	display: inline-block;
}


.al-layout .al-left-sider {
	width: 16.67%;
	height: 100%;
	min-height: 964px;
	background:rgba(255,255,255,1);
	box-shadow:1px 0px 0px 0px rgba(0,0,0,0.08);
	overflow: hidden;
}


.al-layout .al-header .al-left .al-logo {
	width: 200px;
	height: 36px;
	display: inline-block;
	overflow: hidden;
	margin: 10px 20px;
}

.al-layout .al-header .al-left .al-logo  svg{
	width: 100%;
	height: 100%;
}


.al-layout .al-header .al-light {
	float: right;
}

.al-layout .al-header .al-light .search {
	height: 16px;
	width: 16px;
}

.al-layout .al-header .al-light .bell {
	height: 16px;
	width: 15px;
	margin: 19px 20px 20px 20px;
}

.al-layout .al-header .al-light .avatar {
	height: 30px;
	width: 29px;
	margin: 12px 0 12px;
	line-height: 30px;
	text-align: center;
	font-size: 0;
}

.al-layout .al-header .al-light .avatar img {
	vertical-align: middle;
}


.al-layout .al-header .al-light .userBox {
	width:47px;
	height:18px;
	font-size:14px;
	font-family:PingFangSC-Regular;
	font-weight:400;
	color:rgba(78,93,120,1);
	line-height:18px;
	margin: 19px 40px 19px 10px;
}


