.user {
	display: flex;
	height: 56px;
	float: right;
	margin-top: -10px;
	
	a {
		color: #bbb !important;
		&:hover {
			color: #fff !important;
		}
	}
	
	div {
		&:last-child {
	margin-left: 10px;
		}
	}
	
}
