html {
  height: 100%;
  display: table;
}
 
body {
  height: 100%;
  width: 1440px;
}

.clear-float {
	clear:both;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
.clearfloat {
	zoom: 1
}
