.home-Content {
	padding: 40px 0px 40px;
	background: rgba(246, 246, 246, 1);
}
.home-Content .content-Warning {
	height: 339px;
}
.home-Content .content-Chart {
	margin-top: 40px;
}
.home-Content .content-Chart .chart {
	float: left;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	margin-left: 39px;
}
.home-Content .content-Chart .chart .chart-Header {
	width: 346px;
	height: 40px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 0px 0px rgba(240, 240, 240, 1);
	border-radius: 2px 2px 0px 0px;
}
.home-Content .content-Chart p{
	margin-left: 16px;
	margin-top: 11px;
	height: 18px;
	font-size: 14px;
	font-weight: 400;
	color: rgba(10, 31, 68, 1);
	line-height: 18px;
}
